<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biglabs.mozo.sdk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.WrapperActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.SecurityActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
    </application>
</manifest>
