<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.biglabs.mozo.sdk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.AuthenticationWrapperActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/MozoTheme.Transparent.Dim"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.PermissionWrapperActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/MozoTheme.Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.SecurityActivity"
            android:excludeFromRecents="true"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />

        <activity
            android:name="net.openid.appauth.AuthorizationManagementActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/redirect_url_host"
                    android:path="/auth/realms/mozo/login-actions/authenticate"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/redirect_url_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>
